@using BeestjeOpJeFeestje.Web.ViewModels.Animal
@model IEnumerable<AnimalViewModel>

@{
    ViewData["Title"] = "Alle Beestjes";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Alle beestjes (@Model.Count())</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center">
            <span>@TempData["SuccessMessage"]</span>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-center">
            <span>@TempData["ErrorMessage"]</span>
        </div>
    }

    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Type</th>
            <th>Prijs</th>
            <th>Afbeelding</th>
            <th>Acties</th>
        </tr>
        </thead>
        
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="6" class="text-center fst-italic">Geen beestjes gevonden</td>
                </tr>
            }

            @foreach (var animal in Model)
            {
                <tr>
                    <td>@animal.Id</td>
                    <td>@animal.Name</td>
                    <td>@animal.Type.Name</td>
                    <td>@animal.Price.ToString("C")</td>
                    <td>
                        <img src="@Url.Content("~/img/animals/" + animal.ImageUrl)" alt="@animal.Name" style="height: 50px"/>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-animalId="@animal.Id" class="btn btn-secondary btn-sm">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-4">
        <a asp-action="Create" class="btn btn-success">Beestje Toevoegen</a>
    </div>
</div>
