@using BeestjeOpJeFeestje.Web.ViewModels.Customer
@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Alle Klanten";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Alle klanten (@Model.Count())</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center">
            <span>@TempData["SuccessMessage"]</span>
        </div>
    }
    
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Klantenkaart</th>
            <th>Acties</th>
        </tr>
        </thead>
        
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="4" class="text-center fst-italic">Geen klanten gevonden</td>
                </tr>
            }

            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@(customer.Type?.Name ?? "Geen")</td>
                    <td>
                        <a asp-action="Details" asp-route-customerId="@customer.Id" class="btn btn-secondary btn-sm">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-4">
        <a asp-action="Create" class="btn btn-success">Klant Toevoegen</a>
    </div>
</div>
