@using BeestjeOpJeFeestje.Web.ViewModels.Booking
@model BookingAnimalFormViewModel

@{
    ViewData["Title"] = "Beestjes Selecteren";
}

<div class="container mt-4">
    <div class="progress mb-4" role="progressbar" aria-label="Example with label" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%"></div>
    </div>
    
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger text-center">
            @foreach (var error in ViewData.ModelState["SelectedAnimalIds"].Errors)
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <span class="fw-bold">Stap 2 - Selecteer de gewenste beestjes</span>
                </div>

                <div class="card-body">
                    <form asp-action="Step2" method="post">
                        <input type="hidden" asp-for="BookingFormState.Date" value="@Model.BookingFormState.Date"/>
                        <input type="hidden" asp-for="AvailableAnimals" value="@Model.AvailableAnimals" />
                        <input type="hidden" asp-for="CustomerEmail" value="@Model.CustomerEmail" />
                        
                        <div class="row">
                            @foreach (var animal in Model.AvailableAnimals)
                            {
                                <div class="col-md-2 mb-3">
                                    <label for="selectedAnimals_@animal.Id" class="card text-center">
                                        <div class="card-header">
                                            <label asp-for="@animal.Id" class="fw-bold">@animal.Name</label>
                                            <p class="card-text">@animal.Price.ToString("C")</p>
                                            <input name="SelectedAnimalIds" value="@animal.Id" type="checkbox" class="form-check-input"
                                                   style="cursor: pointer;"
                                                   @(Model.BookingFormState.Animals.Any(a => a.Id == animal.Id) ? "checked" : "")/>
                                        </div>
                                        <div class="card-body">
                                            <img src="@Url.Content("~/img/animals/" + animal.ImageUrl)" alt="@animal.Name" style="height: 100px"/>
                                        </div>
                                    </label>
                                </div>
                            }
                        </div>

                        <div class="mt-4 d-flex gap-2">
                            <a asp-action="Step1" class="btn btn-secondary">Annuleren</a>
                            <button type="submit" class="btn btn-primary">Volgende</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <span class="fw-bold">Boeking</span>
                </div>
                
                <div class="card-body">
                    <span>Datum: @Model.BookingFormState.Date</span>
                    <hr/>
                    <p>Beestjes:</p>
                    
                    @if (!Model.BookingFormState.Animals.Any())
                    {
                        <p class="fst-italic">Geen beestjes geselecteerd</p>
                    }
                    
                    @foreach (var animal in Model.BookingFormState.Animals)
                    {
                        <img class="border" alt="@animal.Name" style="height: 50px;" src="@Url.Content("~/img/animals/" + animal.ImageUrl)">
                    }
                </div>
            </div>
        </div>
    </div>
</div>

